body {
  font-family: sans-serif;
  margin: 0;
  width:100%;
  height:100;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav {
  background-color: #4caf50;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

footer {
  background-color: rgb(27, 161, 27);
  color: #fff;
  text-align: center;
  padding: 10px;
}
